* {
    box-sizing: border-box;
}
body {
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}
.page {
    width: 210mm;
    min-height: 297mm;
    padding: 5mm;
    margin: 2.5mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: table;
}
.subpage {
    height: 257mm;
    vertical-align: middle;
}
@page {
    size: A4; // landscape
    margin: 0;
}
.sheet {
    top: -22mm;
    left: 44mm;
    transform: rotate(90deg);
    position: relative;
    height: 182.2mm;
    width: 112.2mm;
    display: grid;
    grid-template-columns: 85mm 25mm;
    grid-template-rows: 25mm 45mm 45mm 65mm;
    background: #e8e8e8;
    border: .6mm solid #1a1a1a;
    padding: .6mm;
}
.sheet:nth-child(even) {
    top: -90mm;
}

section {
    margin: 1mm;
    padding: 1.2mm;
    border: .6mm solid #1a1a1a;
    background: white
}
.name {
    grid-column: 1;
    grid-row: 1;
}
.journey {
    grid-column: 2;
    grid-row: 1;
}
.discipline {
    grid-column: 1;
    grid-row: 2;
    grid-column-end: span 2;
}
.question {
    grid-column: 1;
    grid-row: 3;
    grid-column-end: span 2;
}
.link {
    grid-column: 1;
    grid-row: 4;
    grid-column-end: span 2;
}

img {
    position: absolute;
    opacity: 0.15;
    bottom: -19.5mm;
    transform: scale(0.3, 0.3);
    left: -67mm;
}
